<html>
    <head>
        <meta charset="UTF-8">
        <title> accept_not </title>            
    </head>
    <body></br></br></br></br></br>
             <div class="header">
                <h1 class="word">Login</h1>
             </div></br></br></br>
             <div class="ipadd">{{ ipadd }}</div>
             <form action="/move_accept/" method="post">
                <button name="forwardBtn" type="submit">Forward</button>
            </form>
             <form action="/move_notaccept/" method="post">
                <button name="forwardBtn" type="submit">Forward</button>
            </form>
          </div>
        </div>
    </body>
</html>