<html>
    <head>
        <meta charset="UTF-8">
        <title> Register </title>            
    </head>
    <body></br></br></br></br></br>
             <div class="header">
                <h1 class="word">Register</h1>
             </div></br></br></br>
            <h2 class="word">
                <form action="{{ url_for('register') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="text" name="text" type="text" placeholder="Enter Your text" class="textbox"/></br></br>
                    <input type="submit" class="btn" value="Send text"></br>
                </form>
            </h2>
            <p class="bottom">SEND  <a class="bottom" href="{{url_for('start_page')}}"> Sign In here</a><a class="bottom" href="{{url_for('start_page')}}"> DENY</a></p>
          </div>
        </div>
    </body>
</html>