<!DOCTYPE html>
 <html>
    <head>
        <meta charset="UTF-8">
        <title> Visitor,thank you! </title> 
        <link rel="icon" type="image/png" href="spirit1.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylescss.css') }}">  
        <link rel="shortcut icon" href="{{ url_for('static', filename='spirit1.png') }}">             
    </head>

    <body></br></br></br></br></br>
             <div class="header">
                <h1 class="word"> Visitor, thank you</h1>
             </div></br></br></br>

            <h2 class="text">
                Thanks for visiting our site, your information has been deleted
            </h2>
           
          </div>
        </div>
    </body>
</html>